[submodule "nod"]
	path = nod
	url = git@github.com:fr00b0/nod.git

[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git

[submodule "xlnt"]
	path = xlnt§
	utl = git@github.com:xlnt-community/xlnt.git